#Summary:-

##Nesting of the Listing
##Find Total Cost of Materials Calculation => Amazon Cart
##List Comprehension
##Square of element in List
##Take the Square of Odd Numbers in List
##Count Method
##Extend Method
##Difference between Extend and Append
##Index Method
##Print the index of all Complex number | integer | String value
##Insert Method
##Remove Method
##pop()
##Tuples
##Sets
##Remove Duplicates

##Nesting of the Listing:- List inside a List

In [ ]:
A = [[1,2,3], [11,22,33], [45,56,77]]

A[1]

[11, 22, 33]

In [ ]:
A[1][1]  #Access 22

22

In [ ]:
A = [[1,2,3], [11,22,33], [45,56,77]]  #Access 56

A[2][1]

56

In [ ]:
A = [[1,2,3], [11,22,33,[500,502]], [45,56,77]]  #Access 502

A[1][3][1]

502

##Find Total Cost of Materials Calculation => Amazon Cart

In [ ]:
amazon_cart = [["Watch", 5000], ["Phone", 10000], ["Laptop", 50000]]

total_cost = 0   #Start from 0

amazon_cart[0][1]

5000

In [ ]:
amazon_cart[1][1]

10000

In [ ]:
amazon_cart[2][1]

50000

In [ ]:
amazon_cart[0][1] + amazon_cart[1][1] + amazon_cart[2][1]  # Total Cost

65000

###Using for Loop

In [ ]:
amazon_cart = [["Watch", 5000], ["Phone", 10000], ["Laptop", 50000]]

total_cost = 0   #Start from 0

for i in range(len(amazon_cart)):
  # print(i)
  print(amazon_cart[i][1])
  total_cost = total_cost + amazon_cart[i][1]

print(total_cost)

5000
10000
50000
65000

###Another Short Method (Easy)

In [ ]:
amazon_cart = [["Watch", 5000], ["Phone", 10000], ["Laptop", 50000]]

total_cost = 0   #Start from 0

for item in amazon_cart:
  print(item[1])

  total_cost = total_cost + item[1]

print(total_cost)

5000
10000
50000
65000

##List Comprehension:- Shortcut way of Creating List

###Square of element in List

In [ ]:
A = [1,2,3,4,5,6,7,8,9,10]

ans = list()   #Take Empty List. We will append here

for ele in A:
  # print(ele)
  print(ele**2)
  ans.append(ele**2)
print(ans)

1
4
9
16
25
36
49
64
81
100
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

###Do Square in One Line

In [ ]:
A = [1,2,3,4,5,6,7,8,9,10]

ans = [ele**2 for ele in A]
print(ans)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

###Take the Square of Odd Numbers in List:-

In [ ]:
A = [1,2,3,4,5,6,7,8,9,10]

ans = list()

for ele in A:
  if ele%2 != 0:
    # print(ele)
    print(ele**2)
    ans.append(ele**2)
print(ans)

1
9
25
49
81
[1, 9, 25, 49, 81]

###Write it in List Comprehension way(in short way)

In [ ]:
A = [1,2,3,4,5,6,7,8,9,10]

ans = [ele**2 for ele in A if ele%2 != 0]

print(ans)

[1, 9, 25, 49, 81]

###Count Method:- How many number present in the List

In [1]:
A = [1,2,4,1,6,7,7,7,8]

A.count(7)

3

In [2]:
A.count(1)

2

In [3]:
A = ["Dipanjan", "Das", "Dipanjan"]

for i in A:

  print(i, A.count(i))

Dipanjan 2
Das 1
Dipanjan 2

In [5]:
A = [1,2,4,1,6,7,7,7,8,5]

for i in A:
  print(i, A.count(i))

1 2
2 1
4 1
1 2
6 1
7 3
7 3
7 3
8 1
5 1

###Extend Method:- extend the List
###Extend is a Permanent operation, you don't have to assign in a variable.

In [11]:
A = [1,2,3]
B = [11,22,33]

# A + B  
A.extend(B)  #A + B is behaving like extend. extend => extend the List. It is a Permanent operation, you don't have to assign in a variable.

A

[1, 2, 3, 11, 22, 33]

###Difference between Extend and Append

In [9]:
A = [1,2,3]
B = [11,22,33]
 
A.append(B)  #Whole List added. append add element. It is a Permanent operation, you don't have to assign in a variable.

A

[1, 2, 3, [11, 22, 33]]

###Index Method:- It will tell you index number of the Element

In [12]:
A = [12, 3, 6, 8, "Dipanjan", 2+3j]

A.index(3)

1

In [13]:
A.index("Dipanjan")

4

###Print the index of all Complex number

In [20]:
A = [12, 3, 6, 56+2j, "Dipanjan", 2+3j]

for ele in A:
  if type(ele) == complex:
    print(f"ele: {ele}, type: {type(ele)}, index: {A.index(ele)}")

ele: (56+2j), type: <class 'complex'>, index: 3
ele: (2+3j), type: <class 'complex'>, index: 5

###Print the index of all integer number

In [21]:
A = [12, 3, 6, 56+2j, "Dipanjan", 2+3j]

for ele in A:
  if type(ele) == int:
    print(f"ele: {ele}, type: {type(ele)}, index: {A.index(ele)}")

ele: 12, type: <class 'int'>, index: 0
ele: 3, type: <class 'int'>, index: 1
ele: 6, type: <class 'int'>, index: 2

###Print the index of all String value

In [22]:
A = [12, 3, 6, 56+2j, "Dipanjan", 2+3j]

for ele in A:
  if type(ele) == str:
    print(f"ele: {ele}, type: {type(ele)}, index: {A.index(ele)}")

ele: Dipanjan, type: <class 'str'>, index: 4

###Insert Method:- Insert in any index position
###It will not Replace the Previous index element
###(index number, insert any element in this index number)

In [24]:
A = [1,2,3,4,5,6]

A.insert(2, "Dipanjan")  # (index number, insert any element in this index number)

A

[1, 2, 'Dipanjan', 3, 4, 5, 6]

In [25]:
A = [1,2,3,4,5,6]

A.insert(4, "Robin")  # (index number, insert any element in this index number)

A

[1, 2, 3, 4, 'Robin', 5, 6]

###Remove Method:- It remove  specific element from List

In [27]:
A = [1,2,3,456,8,9]

A.remove(456)

A

[1, 2, 3, 8, 9]

###pop - remove and return the value
###pop - remove from Last

In [28]:
A = [1,2,3,456,8,9]

A.pop()

A

[1, 2, 3, 456, 8]

##Tuples:- Data Structure
###Tupple has protective behaviour, that you don't want to change
###Tuple => ( )  ==> Tuple is immutable (Not able to change value)
###List => [ ]  ==> List is Mutable  [You can change value]

In [29]:
A = (1,2,3)

type(A)

tuple

###Access Tupple

In [30]:
A = (1,2,3)

A[0]

1

In [31]:
A[-1]

3

###Tupple in immutable:-Example

In [32]:
A = (1,2,3)

A[0] = 23  #You can not change index of Tuple

TypeError: ignored

In [33]:
A = (22, 15,14,87,95)

A.sort()   #sort is not allowed in Tupple

AttributeError: ignored

In [34]:
A = (22, 15,14,87,95)

sorted(A)  #Converted into a List and sorted

[14, 15, 22, 87, 95]

In [35]:
A = (22, 15,14,87,95)

len(A)

5

In [36]:
A = (22, 15,14,87,95)

A * 2

(22, 15, 14, 87, 95, 22, 15, 14, 87, 95)

In [37]:
A = (22, 15,14,87,95)

max(A)

95

In [38]:
A = (22, 15,14,87,95)

min(A)

14

In [39]:
A = (22, 15,14,87,95)

A.index(14)

2

In [40]:
A = (22, 15,14,87,95)

A.count(14)

1

In [41]:
A = (22, 15,14,87,95)

sum(A)

233

In [42]:
A = (22, 15,14,87,95)

A.reverse()  #Not allowed in Tuple

AttributeError: ignored

In [43]:
A = (22, 15,14,87,95)

A[1: ]  # Slicing is allowed in Tupple

(15, 14, 87, 95)

In [44]:
A[::-1]  #Reverse is allowed in Tuple

(95, 87, 14, 15, 22)

##Sets:- Sets contain unique elements. Not Duplicate.
###To Remove Duplicate, Sets is very Useful

###NOTE:- Sets are Mutable in Nature (You can Change)

In [45]:
x = {1,2,3,33,6,7}

type(x)

set

In [47]:
x = {1,2,3,33,6,7,7,7,7,7}

x   #Set only contain Unique Value. it will remove Duplicates.

{1, 2, 3, 6, 7, 33}

###Always Define Data Structure like this:-  ( )  to avoid mistake

In [49]:
x = tuple()
x

()

In [50]:
x = set()
x

set()

In [52]:
x = list()
x

[]

##Remove Duplicates:-

In [54]:
A = [1,2,3,4,5,6,6,8,7,7,7,9]

A = set(A)  #It will give you Unique value

A

{1, 2, 3, 4, 5, 6, 7, 8, 9}

###Return List with Unique Elements

In [55]:
A = [1,2,3,4,5,6,6,8,7,7,7,9]

A = list(set(A))  

A

[1, 2, 3, 4, 5, 6, 7, 8, 9]

###Add in Sets:-

In [56]:
A = {1,2,3,"Dipanjan"}

A.add(99)  #It added with integer. Not added in the End

A

{1, 2, 3, 99, 'Dipanjan'}